<link rel="stylesheet" href="/static/css/forms.css" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% extends 'layout.html' %}
{% include 'navigation_bar.html' %}

{% block body %}

<h1>Find My Phone</h1>

<div class="container">
  <form action="query1" method="POST">


    <label for="bname">Brand Name</label>
    <input type="text" id="brandname" name="brandname" placeholder="Your preferred brand">

    <label for="os">Operating System</label>
    <select id="os" name="os">

        <option value="Lollipop">Android Lollipop</option>
        <option value="Marshmallow">Android Marshmallow</option>
        <option value="Nougat">Android Nougat</option>
        <option value="Oreo">Android Oreo</option>


         <option value="Ios10">IOS 10</option>
         <option value="Ios11">IOS 11</option>

      <option value="windows">Windows 10</option>
    </select>
      <br/><br/>
    <input type="submit" value="Submit">
  </form>
</div>


<br/><br/>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){
        var sPath = window.location.pathname;
        var sPage = sPath.substring(sPath.lastIndexOf('/') + 1);
        $('a[href="'+ sPage +'"]').parent().addClass('active');
    });
</script>

{% endblock %}


